<header class="navbar sticky-top">
    <nav class="container">
        <input type="checkbox" id="toggle" autocomplete="off" name="Menu toggle" aria-label="Open menu" value="Open">
        <label for="toggle"><i class="fa-solid fa-bars menu-open"></i></label>
        <div class="menu">
            <ul class="menu-links">
                {% for item in site.data.menu %}
                <li><a href="{{ site.baseurl }}{{ item.link }}" class="{% if page.url == item.link %}active{% endif %}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>