---

---
* {
    box-sizing: border-box;
 }
 
 html {
    scroll-behavior: smooth;
 }

$blue: #40ffdc;
$purple: #7463f4;
$black: #17262a;
$grey: #e9ecef;
$white: #fff;
$primary: $blue;
$dark:    $black;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';


// general
body, input, button, select, optgroup, textarea {   
    font-family: DM Sans;
}
body {
    line-height:1.7;
    background: #f4f4f4;
}
a {
    color: darken($primary, 24%);
}
img {
    max-width:100%;
    height:auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:700;
}

.tj-logo img {
    max-height:80px;
    margin-bottom:40px;
    margin-top:40px;
}

.site-content {
    padding-top:50px;
}
.sitetag {
    font-weight:400;    
    line-height:1.3;
    font-size:2.25rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(sm) {
        font-size:3rem;
        line-height:1.2;
    }
}
.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
}
blockquote {
    font-family: Times New Roman;
    font-style: italic;
    font-size: 20px;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    padding: 16px;
    a {
        text-decoration: none;
    }
    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 20px;
    }
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 24px;
    }
}

#toggle {
    appearance: none;
}

#toggle:checked ~ .menu {
    max-height: 100%;
}


#scrollToTopBtn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: $white;
  }

// animation
body, 
a, 
a:hover,
.site-content,
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.firstpage .works-grid-item:nth-child(1), .firstpage .works-grid-item:nth-child(2), .firstpage .works-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}



// works

// home container dos postbox em grid
.works-grid-container {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

// single card em flex
.works-grid-item {  
    color: #333;
    padding: 0;
    display: flex;
    align-items:center;
    .card {
        border:0;
        &:hover {           
           .card-title a { 
                background-size: 100% 100%;
            }
        }
    }
    .card-title {
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a { 
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        font-size:16px;
        line-height:1.8;
        margin-top:15px;
    }

    .img-thumb {
        object-fit:cover;
        height:240px;
        width:100%;
        object-position:top;
    }
}
.firstpage {
    .works-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;  
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .works-grid-item:nth-child(2), .works-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }      
    }
}


// portfolio work 
.article-post, .entry-header {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.post-title {
    font-size:3rem;
    font-weight:700;
    line-height:1.2;
    text-align: center;
}
.entry-featured-image {  
    width:940px;  
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.article-post {    
    font-size:18px;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
}


//footer
.footer {
    margin-top:120px;
    padding:30px;
    border-top:1px solid $grey;
    font-size:15px;
    background: $white;
}

//responsive tweaks
@media (min-width: 768px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 80%;
    }
}
@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 1140px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 90%;
        max-width:90%;
        padding-left:80px;
    }
    .works-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .post-title {
        font-size:35px;
    }
    .works-grid-container {
        grid-template-columns: 1fr;
    }
    .firstpage .works-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .works-grid-item .img-thumb, 
    .firstpage .works-grid-item:nth-child(1) .img-thumb, 
    .firstpage .works-grid-item:nth-child(2) .img-thumb, 
    .firstpage .works-grid-item:nth-child(3) .img-thumb {
        height:auto;
    }
}

@media (max-width: 600px) {
    .container {
        padding-left:15px;
    }
    .site-content {
        padding-top:0;
    }
}
@media (max-width: 480px) {
    .article-post, .entry-header { 
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:15px;
        font-size:18px;
    }
    .article-post {
        font-size:15px;
    }
}