---

---
// RESETS
* {
    box-sizing: border-box;
    // border: 1px solid red;
}

html {
    scroll-behavior: smooth;
}


// IMPORTAR BOOTSTRAP
@import 'bootstrap/bootstrap';
@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";


 // CORES
$purple: #6c16f8;
$blue: #40ffdc;
$black: #17262a;
$darkgrey: #696969;
$grey: #dbdee3;
$white: #fff;
$whitefaded: rgba(255,255,255,.95);
$primary: $purple;
$secondary: $blue;
$dark: $black;


// MAIN GENERIC ELEMENTS
body,
input,
button {   
    font-family: DM Sans;
}

body {
    line-height: 1.7;
    background: #f4f4f4;
    overscroll-behavior-y: none; // fix bug do chrome faz scroll após limite da página
}

a {
    color: $primary;
    &:hover {
        color: lighten($primary, 20%);
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

hr {
    margin: 40px 0 64px 0;
}

blockquote {
    font-family: Times New Roman;
    font-style: italic;
    font-size: 1rem;
    border-left: 1px solid $dark;
    margin-left: 16px;
    padding-left: 16px;
    cite {
        font-weight: 700;
    }
}


// NAVEGAÇÃO
.navbar {
    background-color: $whitefaded;
    backdrop-filter: blur(2px);
    a {
        text-decoration: none;
    }
    input {
        appearance: none;
        &:checked ~ .menu {
            max-height: 100%;
        }
    }
    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 16px 0;
        margin: 0;
    }
    .container {
        padding-right: 0;
    }
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 24px;
        .active {
            font-weight: 700;
        }
    }
}


// COMMON ELEMENTS
.tj-logo {
    display: inline-block;
    padding: 40px 0;
    img {
        height: 80px;
    }
}

.sitetag {
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 400;   
    padding-bottom: 48px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 32px;
}

@mixin imgShadow {
    -webkit-box-shadow: 0px 45px 20px -41px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 45px 20px -41px rgba(0,0,0,0.11);
    box-shadow: 0px 45px 20px -41px rgba(0,0,0,0.11);
}

.page-image {  
    @include imgShadow();
    width: 940px;  
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-content {
    h2 {
        padding-top: 40px;
    }
    img {
        border: solid 1px $grey;
    }
    font-size: 1rem;
    p, ul {
        margin-top: 32px;
    }
}

.row {
    input {
        margin-bottom: 16px;
    }
}

.btn {
    min-width: 180px;
    margin: 16px 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.socials {
    font-size: 1.25rem;
    a {
        padding: 4px;
    }
}


//FOOTER
.footer {
    margin-top: 120px;
    padding: 30px;
    border-top: 1px solid $grey;
    font-size: .875rem;
    background: $white;
    color: $darkgrey;
    button {
        border: dashed 1px $primary;
        border-radius: 4px;
        padding: 0 8px;
        margin-top: 16px;
        cursor: pointer;
        font-size: 16px;
        color: $primary;
        background-color: $white;
    }
}


// ANIMAÇÕES GERAIS
@keyframes fadeup {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.page-content,
.works-grid-item,
.page-image {
    animation: fadeup .8s ease-out;
}


// GRID PARA WORKS
// -- Container Geral
.works-grid-container {
    width: auto;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 32px;
}

// -- Work Item (cards do bootstrap)
.works-grid-item {  
    color: $darkgrey;
    display: flex;
    align-items: center;
    .card {
        border:0;
        &:hover {           
           .card-title a { 
                background-size: 100% 100%; // underline aberto
            }
        }
    }

    .img-thumb {
        object-fit:cover;
        object-position:top;
        width:100%;
        height: auto;
    }

    .card-title {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.4;
        a { 
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%; // underline fechado
            transition: background-size .8s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }

    .card-text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.8;
        margin-top: 16px;
    }
}


// TABLET BREAKPOINT
@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }

    .navbar {
        justify-content: flex-end;
        padding: 16px;
        input, label {
            display: none;
        }
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        max-height: 100%;
        ul {
            flex-direction: initial;
            align-items: initial;
            padding: initial;
            margin: 0;
        }
    }

    .sitetag {
        font-size: 3.25rem;
    }

    .page-title {
        font-size: 2.25rem;
    }

    blockquote {
        font-size: 1.5rem;
        margin-left: 32px;
    }

    .page-content {
        font-size: 1.125rem;
    }

    .footer {
        button {
            margin-top: 0;
        }
    }

    .works-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .works-grid-item {
        .img-thumb {
            height:240px;
        }
    }

    .firstpage {
        .works-grid-item:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            .img-thumb {
                height: 400px;
            }
            .card-title {
                font-size: 1.75rem;
            }
        }
        .works-grid-item:nth-child(n+2) {
            .img-thumb {
                height: 160px;
            }
            .card-text {
                display: none;
            } 
        }
        
    }
}


// DESKTOP BREAKPOINT
@media (min-width: 1024px) {
    .container {
        max-width: 950px;
    }

    .works-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}