---

---
// RESETS
* {
    box-sizing: border-box;
    // border: 1px solid red;
}

html {
    scroll-behavior: smooth;
}


 // CORES
$blue: #40ffdc;
$purple: #6c16f8;
$black: #17262a;
$grey: #e9ecef;
$white: #fff;
$primary: $purple;
$dark:    $black;


// IMPORTAR BOOTSTRAP
@import 'bootstrap/bootstrap';
@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";


// MAIN ELEMENTS
body,
input,
button {   
    font-family: DM Sans;
}

body {
    line-height: 1.7;
    background: #f4f4f4;
}

a {
    color: lighten($primary, 10%);
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}


// NAVEGAÇÃO
.navbar {
    background-color: $white;
    a {
        text-decoration: none;
    }
    input {
        appearance: none;
        &:checked ~ .menu {
            max-height: 100%;
        }
    }
    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 16px 0;
        margin: 0;
    }
    .container {
        padding-right: 0;
    }
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 24px;
    }
}


// MAIN ELEMENTS
.tj-logo {
    display: inline-block;
    padding: 40px 0;
    img {
        height: 80px;
    }
}

.sitetag {
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 400;   
    padding-bottom: 3rem;
}

.btn {
    min-width: 180px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
}

.home-title {
    display: none;
}


//FOOTER
.footer {
    margin-top:120px;
    padding:30px;
    border-top:1px solid $grey;
    font-size:15px;
    background: $white;
    button {
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color: $white;
    }
}


// ANIMAÇÕES GERAIS
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.article-post,
.works-grid-item,
.entry-featured-image {
    animation: fade-up .8s ease-out;
}


// GRID PARA WORKS

// Container Geral
.works-grid-container {
    width: auto;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 32px;
}

// Layout para Homepage
.firstpage {
    .works-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;  
        font-size: 1rem;
        padding:0;
        .card-title {
            font-size:1.75rem;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .works-grid-item:nth-child(2), .works-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }      
    }
}


// Single work (Cards do Bootstrap)
.works-grid-item {  
    color: #333;
    padding: 0;
    display: flex;
    align-items: center;
    .card {
        border:0;
        &:hover {           
           .card-title a { 
                background-size: 100% 100%;
            }
        }
    }
    .card-title {
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a { 
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .8s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        font-size:16px;
        line-height:1.8;
        margin-top:15px;
    }

    .img-thumb {
        object-fit:cover;
        height:240px;
        width:100%;
        object-position:top;
    }
}


// portfolio work 
.article-post, .entry-header {
    // padding-left: 20px;
    // padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.entry-featured-image {  
    width:940px;  
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}

.article-post {    
    font-size:1rem;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
}





// TABLET BREAKPOINT
@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
    .navbar {
        justify-content: flex-end;
        padding: 16px;
        input, label {
            display: none;
        }
    }
    .menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        max-height: initial;
        ul {
            flex-direction: initial;
            align-items: initial;
            padding: initial;
            margin: 0;
        }
    }

    .sitetag {
        font-size: 3rem;
    }

    .page-title {
        font-size: 2.25rem;
    }

    .article-post, .entry-header { 
        padding-left:20px;
        padding-right:20px;
    }
    .article-post {
        font-size:1.125rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .works-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    .works-grid-container {
        grid-template-columns: 1fr;
    }
    .firstpage .works-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .works-grid-item .img-thumb, 
    .firstpage .works-grid-item:nth-child(1) .img-thumb, 
    .firstpage .works-grid-item:nth-child(2) .img-thumb, 
    .firstpage .works-grid-item:nth-child(3) .img-thumb {
        height:auto;
    }
}

