<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Telmo E. Julião">
<meta name="description" content="This is my resume / curriculum vitae, with all my info, education, professional skills and experience.">
<meta name="keywords" content="Telmo Julião, biography, resumé, curriculum vitae, cv, portfolio, product designer, ux designer, ui designer, front-end developer">
<link rel="icon" href="{{ site.baseurl }}/{{ site.favicon }}">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet"> <!-- DM Sans do GFonts -->
<script src="https://kit.fontawesome.com/382964958c.js" crossorigin="anonymous"></script> <!-- Icons do Fontawesome -->
<title>{{site.name}} | {{ page.title }}</title>
</head>

<body>
<!-- NAVEGAÇÃO -->
{% include menu.html %}

<!-- MAIN -->
{% include main.html %}

<!-- FOOTER -->
{% include footer.html %}

<!-- OUTROS SCRIPTS -->
<script src="{{ site.baseurl }}/assets/js/stuff.js"></script> 

</body>
</html>
